.c-page {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

    li {
        margin: 0 2px;
    }

    &__link {
        display: block;
        padding: 0.5rem 0.75rem;
        line-height: 1.25;
        color: $cyan;
        background-color: $white;
        border: 1px solid rgba($black, 0.1);

        &:hover {
            color: $white;
            text-decoration: none;
            background-color: $cyan;
            border-color: $cyan;
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($gray, 0.25);
        }
    }

    &__active .c-page__link {
        color: $white;
        background-color: $cyan;
        border-color: $cyan;
    }
}
