.c-post-list {
    margin-top: 40px;

    &__header {
        display: flex;
        align-items: center;
        padding-bottom: 4px;
        border-bottom: 2px solid rgba($gray, 0.5);
        color: $dark-gray;

        &__title {
            padding-left: 16px;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__category {
            padding-left: 16px;
        }

        &__secret {
            color: $gray;
        }
    }

    &__body {
        padding: 10px 40px;

        a {
            text-decoration: none;

            &:focus,
            &:hover {
                text-decoration: none;
                opacity: 0.6;
            }
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                display: flex;
                margin-bottom: 4px;
            }
        }

        &__subtitle {
            color: $gray;
            width: 80px;
        }

        &__text {
            color: $dark-gray;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__footer {
        display: flex;
        align-items: center;

        &__nice {
            padding-left: 16px;
            color: $dark-gray;
        }

        &__comment {
            padding-left: 16px;
            color: $dark-gray;
        }

        &__timestamp {
            padding-left: 24px;
            color: $gray;
        }
    }
}
