// l-header クラス

.is-header {
    &_bg-orange {
        background-color: rgba($orange, 0.125);
    }
}

// c-card クラス

.is-card {
    &_bd-orange {
        border-color: rgba($orange, 0.5);
    }

    &_bd-blue {
        border-color: rgba($blue, 0.5);
    }

    &__header {
        &_bg-orange {
            background-color: rgba($orange, 0.125);
        }

        &_bg-blue {
            background-color: rgba($blue, 0.125);
        }
    }
}

// c-post-list クラス

.is-post-list {
    &__header{
        &_male {
            border-bottom-color: rgba($cyan, 0.5);
        }

        &_female {
            border-bottom-color: rgba($pink, 0.5);
        }
    }
}


// e-heading クラス

.is-heading {
    &_bdb-gray {
        padding-bottom: 4px;
        border-bottom: 1px solid $gray;
    }

    &_color-gray {
        color: $gray;
    }
}


// e-btn クラス

.is-btn {
    &_orange {
        color: $white;
        background-color: $orange;

        &:focus,
        &:hover {
            color: $white;
            text-decoration: none;
            opacity: 0.6;
        }
    }

    &_pink {
        color: $white;
        background-color: $pink;

        &:focus,
        &:hover {
            color: $white;
            text-decoration: none;
            opacity: 0.6;
        }
    }

    &_red {
        color: $white;
        background-color: $red;

        &:focus,
        &:hover {
            color: $white;
            text-decoration: none;
            opacity: 0.6;
        }
    }

    &_blue {
        color: $white;
        background-color: $blue;

        &:focus,
        &:hover {
            color: $white;
            text-decoration: none;
            opacity: 0.6;
        }
    }

    &_indigo {
        color: $white;
        background-color: $indigo;

        &:focus,
        &:hover {
            color: $white;
            text-decoration: none;
            opacity: 0.6;
        }
    }

    &_outline-blue {
        color: $blue;
        border: 1px solid $blue;
        background-color: $white;

        &:focus,
        &:hover {
            color: $white;
            background-color: $blue;
            text-decoration: none;
        }
    }

    &_outline-orange {
        color: $orange;
        border: 1px solid $orange;
        background-color: $white;

        &:focus,
        &:hover {
            color: $white;
            background-color: $orange;
            text-decoration: none;
        }
    }

    &_outline-pink {
        color: $pink;
        border: 1px solid $pink;
        background-color: $white;

        &:focus,
        &:hover {
            color: $white;
            background-color: $pink;
            text-decoration: none;
        }
    }

    &_outline-indigo {
        color: $indigo;
        border: 1px solid $indigo;
        background-color: $white;

        &:focus,
        &:hover {
            color: $white;
            background-color: $indigo;
            text-decoration: none;
        }
    }

    &_link {
        padding: 0;
        font-weight: 400;
        color: #3490dc;
        text-decoration: none;

        &:focus,
        &:hover {
            color: #3490dc;
            text-decoration: none;
            opacity: 0.6;
        }
    }

    &_sm {
        font-size: 12px;
        padding: 3px 8px;
    }

    &_d-block {
        display: block;
        width: 100%;
    }

    &_50 {
        @media (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

// e-form クラス

.is-form {
    &_75 {
        @media (min-width: 768px) {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
    &_50 {
        @media (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    &_25 {
        @media (min-width: 768px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}


// e-tag クラス

.is-tag {
    &_gray {
        color: $white;
        background-color: $gray;
    }

    &_orange {
        color: $white;
        background-color: $orange;
    }
}

// e-text クラス

.is-text {
    &_red {
        color: $red;
    }

    &_pink {
        color: $pink;
    }

    &_blue {
        color: $blue;
    }

    &_orange {
        color: $orange;
    }
}

// その他

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.my0, .mb0 {margin-bottom: 0px;}
.my1, .mb1 {margin-bottom: 1px;}
.my2, .mb2 {margin-bottom: 2px;}
.my3, .mb3 {margin-bottom: 3px;}
.my4, .mb4 {margin-bottom: 4px;}
.my5, .mb5 {margin-bottom: 5px;}
.my6, .mb6 {margin-bottom: 6px;}
.my7, .mb7 {margin-bottom: 7px;}
.my8, .mb8 {margin-bottom: 8px;}
.my9, .mb9 {margin-bottom: 9px;}
.my10, .mb10 {margin-bottom: 10px;}
.my11, .mb11 {margin-bottom: 11px;}
.my12, .mb12 {margin-bottom: 12px;}
.my13, .mb13 {margin-bottom: 13px;}
.my14, .mb14 {margin-bottom: 14px;}
.my15, .mb15 {margin-bottom: 15px;}
.my16, .mb16 {margin-bottom: 16px;}
.my17, .mb17 {margin-bottom: 17px;}
.my18, .mb18 {margin-bottom: 18px;}
.my19, .mb19 {margin-bottom: 19px;}
.my20, .mb20 {margin-bottom: 20px;}
.my21, .mb21 {margin-bottom: 21px;}
.my22, .mb22 {margin-bottom: 22px;}
.my23, .mb23 {margin-bottom: 23px;}
.my24, .mb24 {margin-bottom: 24px;}
.my25, .mb25 {margin-bottom: 25px;}
.my26, .mb26 {margin-bottom: 26px;}
.my27, .mb27 {margin-bottom: 27px;}
.my28, .mb28 {margin-bottom: 28px;}
.my29, .mb29 {margin-bottom: 29px;}
.my30, .mb30 {margin-bottom: 30px;}
.my31, .mb31 {margin-bottom: 31px;}
.my32, .mb32 {margin-bottom: 32px;}
.my33, .mb33 {margin-bottom: 33px;}
.my34, .mb34 {margin-bottom: 34px;}
.my35, .mb35 {margin-bottom: 35px;}
.my36, .mb36 {margin-bottom: 36px;}
.my37, .mb37 {margin-bottom: 37px;}
.my38, .mb38 {margin-bottom: 38px;}
.my39, .mb39 {margin-bottom: 39px;}
.my40, .mb40 {margin-bottom: 40px;}
.my41, .mb41 {margin-bottom: 41px;}
.my42, .mb42 {margin-bottom: 42px;}
.my43, .mb43 {margin-bottom: 43px;}
.my44, .mb44 {margin-bottom: 44px;}
.my45, .mb45 {margin-bottom: 45px;}
.my46, .mb46 {margin-bottom: 46px;}
.my47, .mb47 {margin-bottom: 47px;}
.my48, .mb48 {margin-bottom: 48px;}
.my49, .mb49 {margin-bottom: 49px;}
.my50, .mb50 {margin-bottom: 50px;}
.my0, .mt0 {margin-top: 0px;}
.my1, .mt1 {margin-top: 1px;}
.my2, .mt2 {margin-top: 2px;}
.my3, .mt3 {margin-top: 3px;}
.my4, .mt4 {margin-top: 4px;}
.my5, .mt5 {margin-top: 5px;}
.my6, .mt6 {margin-top: 6px;}
.my7, .mt7 {margin-top: 7px;}
.my8, .mt8 {margin-top: 8px;}
.my9, .mt9 {margin-top: 9px;}
.my10, .mt10 {margin-top: 10px;}
.my11, .mt11 {margin-top: 11px;}
.my12, .mt12 {margin-top: 12px;}
.my13, .mt13 {margin-top: 13px;}
.my14, .mt14 {margin-top: 14px;}
.my15, .mt15 {margin-top: 15px;}
.my16, .mt16 {margin-top: 16px;}
.my17, .mt17 {margin-top: 17px;}
.my18, .mt18 {margin-top: 18px;}
.my19, .mt19 {margin-top: 19px;}
.my20, .mt20 {margin-top: 20px;}
.my21, .mt21 {margin-top: 21px;}
.my22, .mt22 {margin-top: 22px;}
.my23, .mt23 {margin-top: 23px;}
.my24, .mt24 {margin-top: 24px;}
.my25, .mt25 {margin-top: 25px;}
.my26, .mt26 {margin-top: 26px;}
.my27, .mt27 {margin-top: 27px;}
.my28, .mt28 {margin-top: 28px;}
.my29, .mt29 {margin-top: 29px;}
.my30, .mt30 {margin-top: 30px;}
.my31, .mt31 {margin-top: 31px;}
.my32, .mt32 {margin-top: 32px;}
.my33, .mt33 {margin-top: 33px;}
.my34, .mt34 {margin-top: 34px;}
.my35, .mt35 {margin-top: 35px;}
.my36, .mt36 {margin-top: 36px;}
.my37, .mt37 {margin-top: 37px;}
.my38, .mt38 {margin-top: 38px;}
.my39, .mt39 {margin-top: 39px;}
.my40, .mt40 {margin-top: 40px;}
.my41, .mt41 {margin-top: 41px;}
.my42, .mt42 {margin-top: 42px;}
.my43, .mt43 {margin-top: 43px;}
.my44, .mt44 {margin-top: 44px;}
.my45, .mt45 {margin-top: 45px;}
.my46, .mt46 {margin-top: 46px;}
.my47, .mt47 {margin-top: 47px;}
.my48, .mt48 {margin-top: 48px;}
.my49, .mt49 {margin-top: 49px;}
.my50, .mt50 {margin-top: 50px;}
.mx0, .mr0 {margin-right: 0px;}
.mx1, .mr1 {margin-right: 1px;}
.mx2, .mr2 {margin-right: 2px;}
.mx3, .mr3 {margin-right: 3px;}
.mx4, .mr4 {margin-right: 4px;}
.mx5, .mr5 {margin-right: 5px;}
.mx6, .mr6 {margin-right: 6px;}
.mx7, .mr7 {margin-right: 7px;}
.mx8, .mr8 {margin-right: 8px;}
.mx9, .mr9 {margin-right: 9px;}
.mx10, .mr10 {margin-right: 10px;}
.mx11, .mr11 {margin-right: 11px;}
.mx12, .mr12 {margin-right: 12px;}
.mx13, .mr13 {margin-right: 13px;}
.mx14, .mr14 {margin-right: 14px;}
.mx15, .mr15 {margin-right: 15px;}
.mx16, .mr16 {margin-right: 16px;}
.mx17, .mr17 {margin-right: 17px;}
.mx18, .mr18 {margin-right: 18px;}
.mx19, .mr19 {margin-right: 19px;}
.mx20, .mr20 {margin-right: 20px;}
.mx21, .mr21 {margin-right: 21px;}
.mx22, .mr22 {margin-right: 22px;}
.mx23, .mr23 {margin-right: 23px;}
.mx24, .mr24 {margin-right: 24px;}
.mx25, .mr25 {margin-right: 25px;}
.mx26, .mr26 {margin-right: 26px;}
.mx27, .mr27 {margin-right: 27px;}
.mx28, .mr28 {margin-right: 28px;}
.mx29, .mr29 {margin-right: 29px;}
.mx30, .mr30 {margin-right: 30px;}
.mx31, .mr31 {margin-right: 31px;}
.mx32, .mr32 {margin-right: 32px;}
.mx33, .mr33 {margin-right: 33px;}
.mx34, .mr34 {margin-right: 34px;}
.mx35, .mr35 {margin-right: 35px;}
.mx36, .mr36 {margin-right: 36px;}
.mx37, .mr37 {margin-right: 37px;}
.mx38, .mr38 {margin-right: 38px;}
.mx39, .mr39 {margin-right: 39px;}
.mx40, .mr40 {margin-right: 40px;}
.mx41, .mr41 {margin-right: 41px;}
.mx42, .mr42 {margin-right: 42px;}
.mx43, .mr43 {margin-right: 43px;}
.mx44, .mr44 {margin-right: 44px;}
.mx45, .mr45 {margin-right: 45px;}
.mx46, .mr46 {margin-right: 46px;}
.mx47, .mr47 {margin-right: 47px;}
.mx48, .mr48 {margin-right: 48px;}
.mx49, .mr49 {margin-right: 49px;}
.mx50, .mr50 {margin-right: 50px;}
.mx0, .ml0 {margin-left: 0px;}
.mx1, .ml1 {margin-left: 1px;}
.mx2, .ml2 {margin-left: 2px;}
.mx3, .ml3 {margin-left: 3px;}
.mx4, .ml4 {margin-left: 4px;}
.mx5, .ml5 {margin-left: 5px;}
.mx6, .ml6 {margin-left: 6px;}
.mx7, .ml7 {margin-left: 7px;}
.mx8, .ml8 {margin-left: 8px;}
.mx9, .ml9 {margin-left: 9px;}
.mx10, .ml10 {margin-left: 10px;}
.mx11, .ml11 {margin-left: 11px;}
.mx12, .ml12 {margin-left: 12px;}
.mx13, .ml13 {margin-left: 13px;}
.mx14, .ml14 {margin-left: 14px;}
.mx15, .ml15 {margin-left: 15px;}
.mx16, .ml16 {margin-left: 16px;}
.mx17, .ml17 {margin-left: 17px;}
.mx18, .ml18 {margin-left: 18px;}
.mx19, .ml19 {margin-left: 19px;}
.mx20, .ml20 {margin-left: 20px;}
.mx21, .ml21 {margin-left: 21px;}
.mx22, .ml22 {margin-left: 22px;}
.mx23, .ml23 {margin-left: 23px;}
.mx24, .ml24 {margin-left: 24px;}
.mx25, .ml25 {margin-left: 25px;}
.mx26, .ml26 {margin-left: 26px;}
.mx27, .ml27 {margin-left: 27px;}
.mx28, .ml28 {margin-left: 28px;}
.mx29, .ml29 {margin-left: 29px;}
.mx30, .ml30 {margin-left: 30px;}
.mx31, .ml31 {margin-left: 31px;}
.mx32, .ml32 {margin-left: 32px;}
.mx33, .ml33 {margin-left: 33px;}
.mx34, .ml34 {margin-left: 34px;}
.mx35, .ml35 {margin-left: 35px;}
.mx36, .ml36 {margin-left: 36px;}
.mx37, .ml37 {margin-left: 37px;}
.mx38, .ml38 {margin-left: 38px;}
.mx39, .ml39 {margin-left: 39px;}
.mx40, .ml40 {margin-left: 40px;}
.mx41, .ml41 {margin-left: 41px;}
.mx42, .ml42 {margin-left: 42px;}
.mx43, .ml43 {margin-left: 43px;}
.mx44, .ml44 {margin-left: 44px;}
.mx45, .ml45 {margin-left: 45px;}
.mx46, .ml46 {margin-left: 46px;}
.mx47, .ml47 {margin-left: 47px;}
.mx48, .ml48 {margin-left: 48px;}
.mx49, .ml49 {margin-left: 49px;}
.mx50, .ml50 {margin-left: 50px;}
.m0 {margin: 0px;}
.m1 {margin: 1px;}
.m2 {margin: 2px;}
.m3 {margin: 3px;}
.m4 {margin: 4px;}
.m5 {margin: 5px;}
.m6 {margin: 6px;}
.m7 {margin: 7px;}
.m8 {margin: 8px;}
.m9 {margin: 9px;}
.m10 {margin: 10px;}
.m11 {margin: 11px;}
.m12 {margin: 12px;}
.m13 {margin: 13px;}
.m14 {margin: 14px;}
.m15 {margin: 15px;}
.m16 {margin: 16px;}
.m17 {margin: 17px;}
.m18 {margin: 18px;}
.m19 {margin: 19px;}
.m20 {margin: 20px;}
.m21 {margin: 21px;}
.m22 {margin: 22px;}
.m23 {margin: 23px;}
.m24 {margin: 24px;}
.m25 {margin: 25px;}
.m26 {margin: 26px;}
.m27 {margin: 27px;}
.m28 {margin: 28px;}
.m29 {margin: 29px;}
.m30 {margin: 30px;}
.m31 {margin: 31px;}
.m32 {margin: 32px;}
.m33 {margin: 33px;}
.m34 {margin: 34px;}
.m35 {margin: 35px;}
.m36 {margin: 36px;}
.m37 {margin: 37px;}
.m38 {margin: 38px;}
.m39 {margin: 39px;}
.m40 {margin: 40px;}
.m41 {margin: 41px;}
.m42 {margin: 42px;}
.m43 {margin: 43px;}
.m44 {margin: 44px;}
.m45 {margin: 45px;}
.m46 {margin: 46px;}
.m47 {margin: 47px;}
.m48 {margin: 48px;}
.m49 {margin: 49px;}
.m50 {margin: 50px;}
.my-auto, .mb-auto {margin-bottom: auto;}
.my-auto, .mt-auto {margin-top: auto;}
.mx-auto, .mr-auto {margin-right: auto;}
.mx-auto, .ml-auto {margin-left: auto;}
.m-auto {margin: auto;}

.py0, .pb0 {padding-bottom: 0px;}
.py1, .pb1 {padding-bottom: 1px;}
.py2, .pb2 {padding-bottom: 2px;}
.py3, .pb3 {padding-bottom: 3px;}
.py4, .pb4 {padding-bottom: 4px;}
.py5, .pb5 {padding-bottom: 5px;}
.py6, .pb6 {padding-bottom: 6px;}
.py7, .pb7 {padding-bottom: 7px;}
.py8, .pb8 {padding-bottom: 8px;}
.py9, .pb9 {padding-bottom: 9px;}
.py10, .pb10 {padding-bottom: 10px;}
.py11, .pb11 {padding-bottom: 11px;}
.py12, .pb12 {padding-bottom: 12px;}
.py13, .pb13 {padding-bottom: 13px;}
.py14, .pb14 {padding-bottom: 14px;}
.py15, .pb15 {padding-bottom: 15px;}
.py16, .pb16 {padding-bottom: 16px;}
.py17, .pb17 {padding-bottom: 17px;}
.py18, .pb18 {padding-bottom: 18px;}
.py19, .pb19 {padding-bottom: 19px;}
.py20, .pb20 {padding-bottom: 20px;}
.py21, .pb21 {padding-bottom: 21px;}
.py22, .pb22 {padding-bottom: 22px;}
.py23, .pb23 {padding-bottom: 23px;}
.py24, .pb24 {padding-bottom: 24px;}
.py25, .pb25 {padding-bottom: 25px;}
.py26, .pb26 {padding-bottom: 26px;}
.py27, .pb27 {padding-bottom: 27px;}
.py28, .pb28 {padding-bottom: 28px;}
.py29, .pb29 {padding-bottom: 29px;}
.py30, .pb30 {padding-bottom: 30px;}
.py31, .pb31 {padding-bottom: 31px;}
.py32, .pb32 {padding-bottom: 32px;}
.py33, .pb33 {padding-bottom: 33px;}
.py34, .pb34 {padding-bottom: 34px;}
.py35, .pb35 {padding-bottom: 35px;}
.py36, .pb36 {padding-bottom: 36px;}
.py37, .pb37 {padding-bottom: 37px;}
.py38, .pb38 {padding-bottom: 38px;}
.py39, .pb39 {padding-bottom: 39px;}
.py40, .pb40 {padding-bottom: 40px;}
.py41, .pb41 {padding-bottom: 41px;}
.py42, .pb42 {padding-bottom: 42px;}
.py43, .pb43 {padding-bottom: 43px;}
.py44, .pb44 {padding-bottom: 44px;}
.py45, .pb45 {padding-bottom: 45px;}
.py46, .pb46 {padding-bottom: 46px;}
.py47, .pb47 {padding-bottom: 47px;}
.py48, .pb48 {padding-bottom: 48px;}
.py49, .pb49 {padding-bottom: 49px;}
.py50, .pb50 {padding-bottom: 50px;}
.py0, .pt0 {padding-top: 0px;}
.py1, .pt1 {padding-top: 1px;}
.py2, .pt2 {padding-top: 2px;}
.py3, .pt3 {padding-top: 3px;}
.py4, .pt4 {padding-top: 4px;}
.py5, .pt5 {padding-top: 5px;}
.py6, .pt6 {padding-top: 6px;}
.py7, .pt7 {padding-top: 7px;}
.py8, .pt8 {padding-top: 8px;}
.py9, .pt9 {padding-top: 9px;}
.py10, .pt10 {padding-top: 10px;}
.py11, .pt11 {padding-top: 11px;}
.py12, .pt12 {padding-top: 12px;}
.py13, .pt13 {padding-top: 13px;}
.py14, .pt14 {padding-top: 14px;}
.py15, .pt15 {padding-top: 15px;}
.py16, .pt16 {padding-top: 16px;}
.py17, .pt17 {padding-top: 17px;}
.py18, .pt18 {padding-top: 18px;}
.py19, .pt19 {padding-top: 19px;}
.py20, .pt20 {padding-top: 20px;}
.py21, .pt21 {padding-top: 21px;}
.py22, .pt22 {padding-top: 22px;}
.py23, .pt23 {padding-top: 23px;}
.py24, .pt24 {padding-top: 24px;}
.py25, .pt25 {padding-top: 25px;}
.py26, .pt26 {padding-top: 26px;}
.py27, .pt27 {padding-top: 27px;}
.py28, .pt28 {padding-top: 28px;}
.py29, .pt29 {padding-top: 29px;}
.py30, .pt30 {padding-top: 30px;}
.py31, .pt31 {padding-top: 31px;}
.py32, .pt32 {padding-top: 32px;}
.py33, .pt33 {padding-top: 33px;}
.py34, .pt34 {padding-top: 34px;}
.py35, .pt35 {padding-top: 35px;}
.py36, .pt36 {padding-top: 36px;}
.py37, .pt37 {padding-top: 37px;}
.py38, .pt38 {padding-top: 38px;}
.py39, .pt39 {padding-top: 39px;}
.py40, .pt40 {padding-top: 40px;}
.py41, .pt41 {padding-top: 41px;}
.py42, .pt42 {padding-top: 42px;}
.py43, .pt43 {padding-top: 43px;}
.py44, .pt44 {padding-top: 44px;}
.py45, .pt45 {padding-top: 45px;}
.py46, .pt46 {padding-top: 46px;}
.py47, .pt47 {padding-top: 47px;}
.py48, .pt48 {padding-top: 48px;}
.py49, .pt49 {padding-top: 49px;}
.py50, .pt50 {padding-top: 50px;}
.px0, .pr0 {padding-right: 0px;}
.px1, .pr1 {padding-right: 1px;}
.px2, .pr2 {padding-right: 2px;}
.px3, .pr3 {padding-right: 3px;}
.px4, .pr4 {padding-right: 4px;}
.px5, .pr5 {padding-right: 5px;}
.px6, .pr6 {padding-right: 6px;}
.px7, .pr7 {padding-right: 7px;}
.px8, .pr8 {padding-right: 8px;}
.px9, .pr9 {padding-right: 9px;}
.px10, .pr10 {padding-right: 10px;}
.px11, .pr11 {padding-right: 11px;}
.px12, .pr12 {padding-right: 12px;}
.px13, .pr13 {padding-right: 13px;}
.px14, .pr14 {padding-right: 14px;}
.px15, .pr15 {padding-right: 15px;}
.px16, .pr16 {padding-right: 16px;}
.px17, .pr17 {padding-right: 17px;}
.px18, .pr18 {padding-right: 18px;}
.px19, .pr19 {padding-right: 19px;}
.px20, .pr20 {padding-right: 20px;}
.px21, .pr21 {padding-right: 21px;}
.px22, .pr22 {padding-right: 22px;}
.px23, .pr23 {padding-right: 23px;}
.px24, .pr24 {padding-right: 24px;}
.px25, .pr25 {padding-right: 25px;}
.px26, .pr26 {padding-right: 26px;}
.px27, .pr27 {padding-right: 27px;}
.px28, .pr28 {padding-right: 28px;}
.px29, .pr29 {padding-right: 29px;}
.px30, .pr30 {padding-right: 30px;}
.px31, .pr31 {padding-right: 31px;}
.px32, .pr32 {padding-right: 32px;}
.px33, .pr33 {padding-right: 33px;}
.px34, .pr34 {padding-right: 34px;}
.px35, .pr35 {padding-right: 35px;}
.px36, .pr36 {padding-right: 36px;}
.px37, .pr37 {padding-right: 37px;}
.px38, .pr38 {padding-right: 38px;}
.px39, .pr39 {padding-right: 39px;}
.px40, .pr40 {padding-right: 40px;}
.px41, .pr41 {padding-right: 41px;}
.px42, .pr42 {padding-right: 42px;}
.px43, .pr43 {padding-right: 43px;}
.px44, .pr44 {padding-right: 44px;}
.px45, .pr45 {padding-right: 45px;}
.px46, .pr46 {padding-right: 46px;}
.px47, .pr47 {padding-right: 47px;}
.px48, .pr48 {padding-right: 48px;}
.px49, .pr49 {padding-right: 49px;}
.px50, .pr50 {padding-right: 50px;}
.px0, .pl0 {padding-left: 0px;}
.px1, .pl1 {padding-left: 1px;}
.px2, .pl2 {padding-left: 2px;}
.px3, .pl3 {padding-left: 3px;}
.px4, .pl4 {padding-left: 4px;}
.px5, .pl5 {padding-left: 5px;}
.px6, .pl6 {padding-left: 6px;}
.px7, .pl7 {padding-left: 7px;}
.px8, .pl8 {padding-left: 8px;}
.px9, .pl9 {padding-left: 9px;}
.px10, .pl10 {padding-left: 10px;}
.px11, .pl11 {padding-left: 11px;}
.px12, .pl12 {padding-left: 12px;}
.px13, .pl13 {padding-left: 13px;}
.px14, .pl14 {padding-left: 14px;}
.px15, .pl15 {padding-left: 15px;}
.px16, .pl16 {padding-left: 16px;}
.px17, .pl17 {padding-left: 17px;}
.px18, .pl18 {padding-left: 18px;}
.px19, .pl19 {padding-left: 19px;}
.px20, .pl20 {padding-left: 20px;}
.px21, .pl21 {padding-left: 21px;}
.px22, .pl22 {padding-left: 22px;}
.px23, .pl23 {padding-left: 23px;}
.px24, .pl24 {padding-left: 24px;}
.px25, .pl25 {padding-left: 25px;}
.px26, .pl26 {padding-left: 26px;}
.px27, .pl27 {padding-left: 27px;}
.px28, .pl28 {padding-left: 28px;}
.px29, .pl29 {padding-left: 29px;}
.px30, .pl30 {padding-left: 30px;}
.px31, .pl31 {padding-left: 31px;}
.px32, .pl32 {padding-left: 32px;}
.px33, .pl33 {padding-left: 33px;}
.px34, .pl34 {padding-left: 34px;}
.px35, .pl35 {padding-left: 35px;}
.px36, .pl36 {padding-left: 36px;}
.px37, .pl37 {padding-left: 37px;}
.px38, .pl38 {padding-left: 38px;}
.px39, .pl39 {padding-left: 39px;}
.px40, .pl40 {padding-left: 40px;}
.px41, .pl41 {padding-left: 41px;}
.px42, .pl42 {padding-left: 42px;}
.px43, .pl43 {padding-left: 43px;}
.px44, .pl44 {padding-left: 44px;}
.px45, .pl45 {padding-left: 45px;}
.px46, .pl46 {padding-left: 46px;}
.px47, .pl47 {padding-left: 47px;}
.px48, .pl48 {padding-left: 48px;}
.px49, .pl49 {padding-left: 49px;}
.px50, .pl50 {padding-left: 50px;}
.p0 {padding: 0px;}
.p1 {padding: 1px;}
.p2 {padding: 2px;}
.p3 {padding: 3px;}
.p4 {padding: 4px;}
.p5 {padding: 5px;}
.p6 {padding: 6px;}
.p7 {padding: 7px;}
.p8 {padding: 8px;}
.p9 {padding: 9px;}
.p10 {padding: 10px;}
.p11 {padding: 11px;}
.p12 {padding: 12px;}
.p13 {padding: 13px;}
.p14 {padding: 14px;}
.p15 {padding: 15px;}
.p16 {padding: 16px;}
.p17 {padding: 17px;}
.p18 {padding: 18px;}
.p19 {padding: 19px;}
.p20 {padding: 20px;}
.p21 {padding: 21px;}
.p22 {padding: 22px;}
.p23 {padding: 23px;}
.p24 {padding: 24px;}
.p25 {padding: 25px;}
.p26 {padding: 26px;}
.p27 {padding: 27px;}
.p28 {padding: 28px;}
.p29 {padding: 29px;}
.p30 {padding: 30px;}
.p31 {padding: 31px;}
.p32 {padding: 32px;}
.p33 {padding: 33px;}
.p34 {padding: 34px;}
.p35 {padding: 35px;}
.p36 {padding: 36px;}
.p37 {padding: 37px;}
.p38 {padding: 38px;}
.p39 {padding: 39px;}
.p40 {padding: 40px;}
.p41 {padding: 41px;}
.p42 {padding: 42px;}
.p43 {padding: 43px;}
.p44 {padding: 44px;}
.p45 {padding: 45px;}
.p46 {padding: 46px;}
.p47 {padding: 47px;}
.p48 {padding: 48px;}
.p49 {padding: 49px;}
.p50 {padding: 50px;}

.line-height16 {line-height: 16px;}
.line-height17 {line-height: 17px;}
.line-height18 {line-height: 18px;}
.line-height19 {line-height: 19px;}
.line-height20 {line-height: 20px;}
.line-height21 {line-height: 21px;}
.line-height22 {line-height: 22px;}
.line-height22 {line-height: 23px;}
.line-height23 {line-height: 24px;}
.line-height24 {line-height: 25px;}
.line-height25 {line-height: 26px;}
.line-height26 {line-height: 27px;}
.line-height27 {line-height: 28px;}
.line-height28 {line-height: 29px;}
.line-height29 {line-height: 30px;}
.line-height30 {line-height: 31px;}
.line-height31 {line-height: 32px;}
.line-height32 {line-height: 33px;}
.line-height33 {line-height: 34px;}
.line-height34 {line-height: 35px;}
.line-height35 {line-height: 36px;}
.line-height36 {line-height: 37px;}
.line-height37 {line-height: 38px;}
.line-height38 {line-height: 39px;}
.line-height39 {line-height: 40px;}

.text-indent1 {text-indent: 1em;}
